body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 850px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-image: url(https://code.s3.yandex.net/web-code/images/dotted.svg);
}
